<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Template for Slides project</string>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>cz.mikolasstuchlik.slidesui.slidesapp</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
	</array>
	<key>NameOfInitialFileForEditor</key>
	<string>App.swift</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.applicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ENABLE_PREVIEWS</key>
				<string>YES</string>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
				<string>AccentColor</string>
			</dict>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Override</key>
			<string>Swift</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>appLifecycle</string>
			<key>Override</key>
			<string>SwiftUI</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Backgrounds/ABackground.swift</string>
		<string>Slides/TitleSlide.swift</string>
		<string>App.swift</string>
		<string>Assets.xcassets</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Slides/TitleSlide.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>300</integer>
			<key>Path</key>
			<string>TitleSlide.swift</string>
			<key>Group</key>
			<string>Slides</string>
		</dict>
		<key>Backgrounds/ABackground.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>200</integer>
			<key>Path</key>
			<string>ABackground.swift</string>
			<key>Group</key>
			<string>Backgrounds</string>
		</dict>
		<key>App.swift</key>
		<dict>
			<key>SortOrder</key>
			<integer>50</integer>
			<key>Path</key>
			<string>App.swift</string>
		</dict>
		<key>Assets.xcassets</key>
		<dict>
			<key>Path</key>
			<string>Assets.xcassets</string>
			<key>SortOrder</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
